<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>ezlife.eu Registration</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!-- mobile first -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import jQuery and bootstrap -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- import main stylesheet -->
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>