<!DOCTYPE html>
<html lang="de">
<head>
    <!-- General Settings -->
    <title>ezlife.eu - account panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Set Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!-- Import Font -->
    <link href='https://fonts.googleapis.com/css?family=Nunito:600' rel='stylesheet' type='text/css'>

    <!-- Import main stylesheet -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <!-- Import Glyphicons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- Import JQuery and Bootstrap -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>

<br>