<%- include('partials/header') %>

<!-- google reCaptcha -->
<script src="https://www.google.com/recaptcha/api.js?render=6LcRJusUAAAAAPNYUKeKTunJqjeUdzDFNPsFjWnS"></script>
<!-- include custom scripts -->
<script src="/js/checkInput.js"></script>

<!-- Main Content -->
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Account erstellen</h1>
            <img src="/img/logo.svg" class="img-thumbnail img-fluid" height="15%" width="15%">
            <small class="form-text text-muted">
                Unsere Datenschutzerklärung finden Sie unter <strong><a href="https://example.com/privacy">Privacy</a></strong>
            </small>
        </div>
    </div>
    <br>
    <div class="dropdown-divider"></div>
    <br>
    <div class="row">
        <div class="col">

            <form>
                <div class="form-group">
                    <h2>Benutzername</h2>
                    <input type="text" class="form-control" id="username"
                           placeholder="Benutzername eingeben">
                    <small class="form-text text-muted">
                        Der Benutzername ist für andere Nutzer öffentlich und wird verwendet, um Ihren Account den
                        verschiedenen Diensten von ezlife.eu zuzuordnen.
                        Der Benutzername kann nicht geändert werden.
                        <br>
                        <i><b>Hinweis: </b>Der Benutzername muss E-Mail konform sein. Das bedeutet, er darf nur aus
                            Buchstaben und Zahlen sowie den Zeichen ".", "-" und "_" bestehen.</i>
                    </small>
                </div>
                <div class="form-group">
                    <h2>Vorname</h2>
                    <input type="text" class="form-control" id="name" placeholder="Vorname eingeben">
                </div>
                <div class="form-group">
                    <h2>Nachname</h2>
                    <input type="text" class="form-control" id="surname" placeholder="Nachname eingeben">
                </div>
                <div>
                    <h3>E-Mail Adresse</h3>
                    <small class="form-text text-muted">Die neu erstellte E-Mail Adresse ist abhängig von Ihrem
                        Benutzernamen. Die folgende E-Mail Adresse wird durch Ihre Registrierung bei ezlife.eu
                        automatisch erstellt:
                    </small>
                    <input type="text" class="form-control" id="email" placeholder="user@ezlife.eu" disabled>
                </div>

                <div class="form-group">
                    <h2>Passwort</h2>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Passwort eingeben">
                    <small class="form-text text-muted">
                        Bitte geben Sie Ihr Passwort ein.<br>
                        <i><b>Hinweis: </b>Das Passwort muss den folgenden Richtlinien entprechen: min. 5 Zeichen</i>
                    </small>
                </div>

                <div class="form-group">
                    <h2>Passwort wiederholen</h2>
                    <input type="password" class="form-control" id="password2" name="password2"
                           placeholder="Passwort wiederholen">
                    <small class="form-text text-muted">Bitte wiederholen Sie Ihr gewähltes
                        Passwort.
                    </small>
                </div>
            </form>

        </div>
    </div>
    <br>
    <div class="dropdown-divider"></div>
    <br>
    <div class="row">
        <div class="col">
            <button type="submit" id="registerBtn" class="btn btn-success" onclick="registerUser()" disabled>
                Registrieren
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <p id="registrationStatus"></p>
        </div>
    </div>
    <br>
</div>

<%- include('partials/footer') %>