<button type="button" class="btn-ezlife btn-sm" data-toggle="modal" data-target="#passwordModal"><i class="fas fa-edit"></i> Passwort ändern</button>

<!-- changePasswordModal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">Passwort ändern</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="currentPasswordInput">aktuelles Passwort</label>
                        <input type="password" class="form-control" id="currentPasswordInput" aria-describedby="currentPasswordInputHelp"
                               placeholder="Geben Sie Ihr aktuelles Passwort ein">
                        <small id="currentPasswordInputHelp" class="form-text text-muted">
                            Bitte geben Sie Ihr aktuelles Passwort ein.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordInput">Neues Passwort</label>
                        <input type="password" class="form-control is-invalid" id="newPasswordInput" aria-describedby="newPasswordInputHelp"
                               placeholder="Geben Sie Ihr neues Passwort ein">
                        <small id="newPasswordInputHelp" class="form-text text-muted">
                            Bitte geben Sie Ihr neues Passwort ein.
                            <br>
                            <i><b>Hinweis: </b>Das Passwort muss aus mindestens 5 Zeichen bestehen.</i>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="repeatPasswordInput">Passwort wiederholen</label>
                        <input type="password" class="form-control is-invalid" id="repeatPasswordInput" aria-describedby="repeatPasswordInputHelp"
                               placeholder="Wiederholen Sie Ihr neues Passwort">
                        <small id="repeatPasswordInputHelp" class="form-text text-muted">
                            Bitte wiederholen Sie Ihr neues Passwort.
                        </small>
                    </div>
                </form>
                <div class="row">
                    <div class="col">
                        <p id="passwordChangeStatus"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                <button type="button" type="submit" class="btn btn-success" id="changePasswordBtn" onclick="changePassword();" disabled>Passwort ändern</button>
            </div>
        </div>
    </div>
</div>